<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HeliStat.DBConnection.HeliStatDBLocalConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Marc\Documents\Visual Studio 2017\Projects\HeliStat\HeliStat\Data\HeliStatDB.mdf&quot;;Integrated Security=True" />
        <add name="HeliStat.Properties.Settings.HeliStatDBLocalConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HeliStatDBLocal.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="HeliStat.Properties.Settings.HeliStatDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Marc\Documents\Visual Studio 2017\Projects\HeliStat\HeliStat\bin\Debug\HeliStatDB.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="HeliStat.Properties.Settings.HeliStatDBConnectionString1"
            connectionString="Data Source=MEDION_ERAZER;Initial Catalog=HeliStatDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>