<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define HeliStat_TargetDir=$(var.HeliStat.TargetDir)?>
	<Product Id="*" Name="HeliStat" Language="1033" Version="1.0.0.0" Manufacturer="MarkySparky Productions" UpgradeCode="46fa7c11-9ee7-4fc4-a4bd-0fe8d868dca9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="HeliStat" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="HeliStat_files" />
			<ComponentGroupRef Id="Resources_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="HeliStat">
				  <Directory Id="HeliStat" Name="HeliStat" />
				  <Directory Id="Resources" Name="Resources" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<!--<Component Id="HeliStatIcon.ico" Guid="96268009-4a60-41b9-9233-ff6560f695db">
			  <File Id="HeliStatIcon.ico" Name="HeliStatIcon.ico" Source="$(var.HeliStat_TargetDir)HeliStatIcon.ico" />
			</Component>-->
			<Component Id="HeliStat.exe" Guid="458fda5c-211c-4f40-a00e-d79c5ac68769">
			  <File Id="HeliStat.exe" Name="HeliStat.exe" Source="$(var.HeliStat_TargetDir)HeliStat.exe" />
			</Component>
			<Component Id="HeliStat.exe.config" Guid="13ea840d-5977-4442-9b73-fe1f885a39aa">
			  <File Id="HeliStat.exe.config" Name="HeliStat.exe.config" Source="$(var.HeliStat_TargetDir)HeliStat.exe.config" />
			</Component>
			<Component Id="ClosedXML.dll" Guid="91c24a45-c76f-4ecf-b132-f6ad4ef18e93">
			  <File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="$(var.HeliStat_TargetDir)ClosedXML.dll" />
			</Component>
			<Component Id="DocumentFormat.OpenXml.dll" Guid="201f3b5c-1100-4d12-b9b3-fa1e649038e1">
			  <File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.HeliStat_TargetDir)DocumentFormat.OpenXml.dll" />
			</Component>
			<Component Id="ExcelNumberFormat.dll" Guid="cc5a96cf-f151-4019-ac0b-aff6c38d1b76">
			  <File Id="ExcelNumberFormat.dll" Name="ExcelNumberFormat.dll" Source="$(var.HeliStat_TargetDir)ExcelNumberFormat.dll" />
			</Component>
			<Component Id="FastMember.Signed.dll" Guid="f2d157f6-cccb-4f68-a3b2-577a0ab282a1">
			  <File Id="FastMember.Signed.dll" Name="FastMember.Signed.dll" Source="$(var.HeliStat_TargetDir)FastMember.Signed.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="HeliStat_files" Directory="HeliStat">
	    <Component Id="HeliStat_HeliStatDB.mdf" Guid="f56c93bf-3ebc-43a8-b7ad-3e7bc0613566">
	      <File Id="HeliStat_HeliStatDB.mdf" Name="HeliStatDB.mdf" Source="$(var.HeliStat_TargetDir)HeliStat\HeliStatDB.mdf" />
	    </Component>
	    <Component Id="HeliStat_HeliStatDB_log.ldf" Guid="7578a423-cff2-48df-a2ab-bed1712e4a85">
	      <File Id="HeliStat_HeliStatDB_log.ldf" Name="HeliStatDB_log.ldf" Source="$(var.HeliStat_TargetDir)HeliStat\HeliStatDB_log.ldf" />
	    </Component>
	  </ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="Resources_files" Directory="Resources">
      <!--<Component Id="Resources_HeliStatIcon.ico" Guid="1e069538-b539-4f61-ba12-ed1c44f33008">
        <File Id="Resources_HeliStatIcon.ico" Name="HeliStatIcon.ico" Source="$(var.HeliStat_TargetDir)Resources\HeliStatIcon.ico" />
      </Component>-->
      <!--<Component Id="Resources_SplashScreen.jpg" Guid="35fc693b-5bfa-4f4a-bdd9-a949514ae6f9">
        <File Id="Resources_SplashScreen.jpg" Name="SplashScreen.jpg" Source="$(var.HeliStat_TargetDir)Resources\SplashScreen.jpg" />
      </Component>-->
    </ComponentGroup>
  </Fragment>
</Wix>
